.numeros{
    padding: 0 5em 6em 5em;
    font-family: var(--fonte-principal);
    justify-content: center;

}

.numeros__lista{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin: 0 6em 5em 6em;
    gap: 2em;
}



.numeros__lista__item__titulo{
    color: var(--cor-botao);
    font-size: 3.5em;
    font-weight: 600;
    font-family: var(--fonte-principal);
}

.numeros__lista__item__subtitulo{
    font-size: 18px;
    color: var(--cor-titulos);
    font-weight: 500;
    margin: 0.8em 0 0.5em 0;
}
.numeros__lista__item__paragrafo{
    font-weight: 400;
    color: var(--cor-texto);
    line-height: 1.3;
}